<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <app-sidenav></app-sidenav>
</aside>
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
   Navbar 
  <app-nav-bar></app-nav-bar>
   End Navbar 
  <div class="container-fluid">
    <app-header-user></app-header-user>
  </div>
  <div class="container-fluid py-4">
     <form action="alek"(ngSubmit)="onClickSubmit()">
    <label for="fname">First name:</label><br>
    <input [(ngModel)]="accountVM.customer.firstName" value="{{accountVM.customer.firstName}}" type="text" name="firstName" class="form-control" placeholder="FirstName" aria-label="firstName" aria-describedby="email-addon">
    <label for="lname">Last name:</label><br>
    <input [(ngModel)]="accountVM.customer.lastName" value="{{accountVM.customer.lastName}}" type="text" name="lastName" class="form-control" placeholder="LastName" aria-label="lastName" aria-describedby="email-addon">
    <label for="uname">User name:</label><br>
    <input [(ngModel)]="accountVM.customer.username" value="{{accountVM.customer.username}}" type="text" name="username" class="form-control" placeholder="UserName" aria-label="userName" aria-describedby="email-addon">
    <label for="email">Email:</label><br>
    <input [(ngModel)]="accountVM.customer.account.email" value="{{accountVM.customer.account.email}}" type="text" name="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="email-addon">
    <label for="pnumber">Phone Number:</label><br>
    <input [(ngModel)]="accountVM.customer.phoneNumber" value="{{accountVM.customer.phoneNumber}}" type="text" name="phoneNumber" class="form-control" placeholder="PhoneNumber" aria-label="email" aria-describedby="email-addon">
    <label for="country">Country:</label><br>
    <!--<input [(ngModel)]="accountVM.customer.country" value="{{accountVM.customer.country}}" type="text" name="Country" class="form-control" placeholder="Country" aria-label="email" aria-describedby="email-addon">
    <label for="city">City:</label><br>
    <input [(ngModel)]="accountVM.customer.city" value="{{accountVM.customer.city}}" type="text" name="City" class="form-control" placeholder="City" aria-label="email" aria-describedby="email-addon">
    <label for="street">Street:</label><br>
    <input [(ngModel)]="accountVM.customer.street" value="{{accountVM.customer.street}}" type="text" name="street" class="form-control" placeholder="Street" aria-label="email" aria-describedby="email-addon">
    <label for="zipcode">ZipCode:</label><br>
    <input [(ngModel)]="accountVM.customer.zipCode" value="{{accountVM.customer.zipCode}}" type="text" name="zipCode" class="form-control" placeholder="ZipCode" aria-label="email" aria-describedby="email-addon"><br>-->
    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Submit</button>
  </form>

</div>
